/* Estilos do cabeçalho e componentes de navegação */
header {
  display: flex;
  justify-content: center; /* Mudamos para center ao invés de space-between */
  align-items: center;
  padding: 10px 2px;
  gap: 25px; /* Aumentamos o gap para dar um espaçamento uniforme */
  color: #fff;
  flex-wrap: nowrap;
}
  
  /* ... outros estilos do header ... */
  
  /* Filtros com efeitos novos */
  .filter-bar {
    background-color: transparent;
    display: flex;
    gap: 10px;
    /* padding: 5px; */
    border-radius: 25px;
  }
  
  .filter-emoji {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px; /* Tamanho do botão */
  height: 33px; /* Tamanho do botão */
  margin: 5px;
  transition: transform 0.2s ease; /* Suavidade ao clicar */
  background-color: transparent;
  box-shadow: none; /* Remova qualquer sombra residual */
  border: none; /* Certifique-se de que não há bordas */
}
  
  .filter-emoji::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .filter-emoji:hover {
    transform: scale(1.1);
  }
  
  /* Estado ativo do filtro */
  .filter-emoji.active {
    transform: scale(1.1);
    z-index: 1; /* Para garantir que a medalha tenha prioridade visual */
  }
  
  .filter-emoji.active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Ajuste conforme necessário */
    height: 50px;
    border-radius: 50%; /* Certifica-se de que o círculo seja perfeito */
    background: rgba(255, 255, 255, 0.2); /* Cor de fundo desejada */
    border: none; /* Remova qualquer borda residual */
    z-index: -1;
  }
  
  .img-emoji {
    width: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    object-fit: cover;
  }
  
  /* Estilo atualizado do botão de navegação */
  .nav-button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px;
    cursor: pointer;
    font-size: 14px; /* Tamanho de fonte mais adequado */
    display: flex;
    align-items: center;
  }

  .total-series {
    background-color: #2e2e2e;
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    min-width: max-content;
}
  
  /* Melhorias na barra de busca */
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    flex-grow: 1; /* Faz o input ocupar o espaço restante */
    padding: 8px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    outline: none;
    background-color: #2e2e2e;
    color: white;
    transition: all 0.3s ease;
  }
  
  .search-bar button {
    width: auto;
    padding: 8px 12px; /* Ajuste do padding do botão */
    border: none;
    border-radius: 0 50px 50px 0;
    background-color: #2e2e2e;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .search-bar input:focus {
    background-color: #3d3d3d;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  }
  
  .search-bar button:hover {
    background-color: #3d3d3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  