/* Reset básico para garantir que os estilos sejam consistentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between; /* Espaça os itens para os lados */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  padding: 10px 2px; /* Espaçamento interno */
  color: #fff; /* Cor do texto */
  margin-top: -10px;
  margin-bottom: 10px;
}

.nav-button {
  background-color: #2e2e2e; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 50px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave */
}

.nav-button:hover {
  background-color: #3d3d3d; /* Cor ao passar o mouse */
}

.search-bar {
  display: flex; /* Flexbox para alinhar o input e o botão */
}

.search-bar input {
  padding: 10px; /* Espaçamento interno do input */
  border: none; /* Remove bordas */
  border-radius: 50px 0px 0px 50px; /* Cantos arredondados */
  outline: none; /* Remove a borda de foco padrão */
}

.search-bar button {
  padding: 10px 15px; /* Espaçamento interno do botão */
  border: none; /* Remove bordas */
  border-radius: 0 50px 50px 0; /* Cantos arredondados */
  background-color: #2e2e2e; /* Cor de fundo do botão de buscar */
  color: white; /* Cor do texto */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave */
}

.search-bar button:hover {
  background-color: #3d3d3d; /* Cor ao passar o mouse */
}

/* Estilo básico para o corpo */
body {
  font-family: Arial, sans-serif;
  color: #e0e0e0;
  text-align: center;
  line-height: 1.6;
  background-color: #121212;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

footer {
  color: #fff; /* cor do texto */
  padding: 10px 20px; /* padding para criar mais espaço */
  display: flex; /* usar flexbox */
  justify-content: space-between; /* espaçar os itens */
  align-items: center; /* alinhar verticalmente */
  position: fixed; /* fixar no final da página */
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box; /* garantir que padding seja considerado */
}

footer a {
  color: #f0f0f0; /* cor dos links */
  text-decoration: none; /* remover sublinhado */
  white-space: nowrap; /* garantir que o texto não quebre */
}

footer a:hover {
  color: #fff; /* cor ao passar o mouse */
}

.footer-left,
.footer-right {
  display: inline-block;
}

.footer-left {
  flex-grow: 1; /* permitir que o lado esquerdo cresça */
  text-align: left;
}

.footer-right {
  text-align: right;
}

/* Estilo básico para o título/medalha */
a {
  text-decoration: none; /* Remove o sublinhado */
  color: #007bff;
}

/* Estilos para o grid das séries na tela inicial */
.series-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Exatamente 6 colunas */
  gap: 10px; /* Espaçamento entre as imagens */
  justify-items: center; /* Centraliza as imagens */
}

/* Estilos para as capas das séries na tela inicial*/
.series-grid img {
  width: 100%; /* Imagem preenche o espaço do item do grid */
  max-width: 300px; /* Tamanho máximo da imagem */
  height: auto; /* Mantém a proporção */
  border-radius: 10px;
}

/* Estilos para a página de detalhes da série */
.detalhes-serie {
  text-align: center;
  color: #e0e0e0;
}
.detalhes-serie img {
  border-radius: 10px;
  max-width: 25%;
}

@media (max-width: 1280px) {
  .series-grid {
    grid-template-columns: repeat(
      5,
      1fr
    ); /* 2 colunas em telas pequenas (celulares) */
  }
  .series-grid img {
    max-width: 230px; /* Ajusta o tamanho da imagem para telas menores */
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .series-grid {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* 2 colunas em telas pequenas (celulares) */
  }
  .series-grid img {
    max-width: 220px; /* Ajusta o tamanho da imagem para telas menores */
    border-radius: 20px;
  }
  .detalhes-serie img {
    display: flex;
    max-width: 490px;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .series-grid {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* 2 colunas em telas pequenas (celulares) */
  }
  .series-grid img {
    max-width: 170px; /* Ajusta o tamanho da imagem para telas menores */
    border-radius: 20px;
  }
}

@media (max-width: 640px) {
  .series-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 colunas em telas pequenas (celulares) */
  }
  .series-grid img {
    max-width: 280px; /* Ajusta o tamanho da imagem para telas menores */
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .series-grid {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* 2 colunas em telas pequenas (celulares) */
  }
  .series-grid img {
    max-width: 400px; /* Ajusta o tamanho da imagem para telas menores */
    border-radius: 10px;
  }
  .detalhes-serie img {
    max-width: 100%; /* Ocupa 100% da largura da tela */
    object-fit: contain; /* Garante que a imagem não seja cortada */
    border-radius: 5px;
  }
  footer {
    font-size: 12px;
  }
  header {
    padding: 0px 2px; /* Reduzir o padding do header em telas pequenas */
  }
  .nav-button {
    padding: 5px 10px; /* Reduz o tamanho do botão */
    font-size: 12px; /* Diminui o tamanho da fonte */
  }
  .search-bar input {
    padding: 5px; /* Ajusta o padding do input */
    font-size: 12px; /* Diminui o tamanho da fonte */
  }
  .search-bar button {
    padding: 5px 10px; /* Reduz o tamanho do botão de busca */
    font-size: 12px; /* Diminui o tamanho da fonte */
  }
}
