/* Reset básico para garantir que os estilos sejam consistentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between; /* Espaça os itens para os lados */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  padding: 10px 2px; /* Espaçamento interno */
  color: #fff; 
  margin-top: -10px;
  margin-bottom: 10px;
}

.nav-button {
  background-color: #2e2e2e; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 50px; /* Cantos arredondados */
  padding: 15px 20px; /* Espaçamento interno do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave */
}

.nav-button:hover {
  background-color: #3d3d3d; /* Cor ao passar o mouse */
}

.search-bar {
  display: flex; /* Flexbox para alinhar o input e o botão */
}

.search-bar input {
  padding: 10px; /* Espaçamento interno do input */
  border: none; /* Remove bordas */
  border-radius: 50px 0px 0px 50px; /* Cantos arredondados */
  outline: none; /* Remove a borda de foco padrão */
}

.search-bar button {
  padding: 10px 15px; /* Espaçamento interno do botão */
  border: none; /* Remove bordas */
  border-radius: 0 50px 50px 0; /* Cantos arredondados */
  background-color: #2e2e2e; /* Cor de fundo do botão de buscar */
  color: white; /* Cor do texto */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave */
}

.filter-bar{
  background-color: transparent 
}
.filter-emoji {
  width: 60px;
  background-color: transparent;
  border: none;
}

.img-emoji {
  width: 50px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #3d3d3d; /* Cor ao passar o mouse */
}

/* Estilo básico para o corpo */
body {
  font-family: Arial, sans-serif;
  color: #e0e0e0;
  text-align: center;
  line-height: 1.6;
  background-color: #121212;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.linkVoltar {
  background-color: #2e2e2e; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 50px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave */
}
.linkSobre {
  background-color: #2e2e2e; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 50px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave */
}

a {
  text-decoration: none; /* Remove o sublinhado */
}

/* Estilos para o grid das séries na tela inicial */
.series-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Exatamente 6 colunas */
  gap: 10px; /* Espaçamento entre as imagens */
  justify-items: center; /* Centraliza as imagens */
}
.series-grid a{
  color: #fff;
  font-size: 14px;
}

/* Estilos para as capas das séries na tela inicial*/
.series-grid img {
  width: 100%; /* Imagem preenche o espaço do item do grid */
  max-width: 300px; /* Tamanho máximo da imagem */
  height: auto; /* Mantém a proporção */
  border-radius: 10px;
}

.detalhes {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  flex-grow: 1;
}
.detalhes-serie {
  text-align: center;
  color: #e0e0e0;
  flex-grow: 1;
}
.detalhes-serie img {
  border-radius: 10px;
  width: 25%;
}

/* Responsividade */
@media (max-width: 1280px) {
  .series-grid {
    grid-template-columns: repeat(
      5,
      1fr
    );
  }
  .detalhes-serie img {
    max-width: 38%; /* Ocupa 100% da largura da tela */
  }
}

@media (max-width: 1024px) {
  .series-grid {
    grid-template-columns: repeat(
      4,
      1fr
    ); 
  }
  .detalhes-serie img {
    max-width: 45%;
  };
}

@media (max-width: 768px) {
  .series-grid {
    grid-template-columns: repeat(
      4,
      1fr
    );
  }
}

@media (max-width: 640px) {
  .series-grid {
    grid-template-columns: repeat(
      3,
      1fr
    ); 
  }
  .series-grid h2{
    font-size: 21px;
  }
}

@media (max-width: 480px) {
  .series-grid {
    grid-template-columns: repeat(
      1,
      1fr
    );
  }
  .series-grid img {
    max-width: 100%; 
  }
  .detalhes-serie img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  footer {
    font-size: 12px;
    /* margin-top: 30px; */
  }
  header {
    padding: 0px 2px;
  }
  .nav-button {
    padding: 9px 9px; /* Reduz o tamanho do botão */
    font-size: 12px; /* Diminui o tamanho da fonte */
  }
  .search-bar input {
    margin-left: 20px;
    width: 100%;
    padding: 5px;
    font-size: 12px;
  }
  .search-bar button {
    padding: 5px 10px; /* Reduz o tamanho do botão de busca */
    font-size: 12px; /* Diminui o tamanho da fonte */
  }
  .linkVoltar {
    padding: 5px 10px; /* Reduz o tamanho do botão */
    font-size: 12px; /* Diminui o tamanho da fonte */
  }
  .linkSobre {
    padding: 5px 10px; /* Reduz o tamanho do botão */
    font-size: 12px; /* Diminui o tamanho da fonte */
  }
  .filter-bar{
    width: 30%;
    margin-left: 20px;
  }
  .filter-emoji {
    margin: 3px;
    width: 19px;
  }
  .img-emoji{
    margin: -7px;
    width: 25px;
  }
}

@media (max-width: 400px) {
  header {
    padding: 0px 2px;
  }
  .nav-button {
    padding: 9px 10px; 
    font-size: 12px; 
  }
  .search-bar input {
    margin-left: 20px;
    width: 100%;
    padding: 9px;
    font-size: 12px;
  }
  .search-bar button {
    padding: 5px 10px; 
    font-size: 12px; 
  }
  .linkVoltar {
    padding: 8px 10px; 
    font-size: 10px; 
  }
  .linkSobre {
    padding: 8px 10px; 
    font-size: 10px; 
  }
  .filter-bar{
    width: 30%;
    margin-left: 20px;
  }
  .filter-emoji {
    margin: 3px;
    width: 12px;
  }
  .img-emoji{
    margin: -7px;
    width: 22px;
  }
}
